/*Inizio stile bottoni*/
.ms_button{
    outline: 1px solid white;
    outline-offset: 2px;
}

.ms_button:hover{
    outline: 2px solid black;
}

.ms_button_red{
    outline: 1px solid;
    outline-color: #dc3545;
    outline-offset: -5px;
}

.ms_button_red:hover{
    outline: 2px solid black;
}

.ms_button_black{
    outline: 1px solid;
    outline-color: rgb(248, 249, 250);
    outline-offset: -5px;
}

.ms_button_black:hover{
    outline: 2px solid black;
}

.ms_border_radius{
    border-radius: 50px;
}

.ms_bkg_gray{
    background-color: rgb(217, 218, 220);
}
/*Finestile bottoni*/

/*Inizio Nav*/
.ms_logo_sony{
    width: 5rem;
}

.ms_drp_dwn, .ms_drp_dwn_2{
    width: 10px;
}

.ms_drp_dwn_2{
    display: none;
}

.ms_drp_dwn_width{
    border-radius: 0;
    width: 100vw;
}

.ms_dot{
    height: 5px;
    width: 5px;
    border-radius: 50%;
    background-color: rgb(1, 110, 214);
}

.ms_hover:hover .ms_drp_dwn{
    display: none
}

.ms_mt{
    border-radius: 0px;
    width: 100vw;
}

.ms_hover:hover .ms_drp_dwn_2{
    display: inline-block
}
/*Fine Nav*/

/*Inizio Jumbotron*/
.ms_jumbo{
    margin-top: 120px;
    height: 100%;
    min-height: 500px;
    max-height: 500px;
    background-image: url("img/jumbo-bg.png");
    background-position: center;
    background-size: cover;  
}
/*Fine Jumbotron*/

/*Inizio Thumbnail*/
.ms_transition{
    transition: all 1s;
    background-color: transparent;
}

.ms_transition:hover{
    margin-top: 0;
}

.ms_border_img{
    border-radius: 20px;
    border-color: transparent;
    background-color: transparent;
}

.ms_thumbnail_link:active .ms_border_img{
    border-color: rgb(0, 112, 209);
}

.ms_padding_top{
    padding-top: 250px;
}

.ms_tm{
    font-size: 10px;
    height: 20px;
}
/*Fine Thumbnail*/

/*Inizio It takes 2*/
.ms_takes_2{
    height: 500px;
    min-height: 550px;
    max-height: 500px;
    background-image: url("img/it-takes-two-hero-banner-desktop.jpg");
    background-position: center;
    background-size: cover;  
}
/*Fine It takes 2*/



.ms_logo{
    width: 100%;
}

/*Inizio PS5*/
.ms_ps5{
    margin-top: 80px;
}
/*Fine PS5*/

/*Inizio Gear*/
.ms_gear_content{
    width: 20%;
}

.ms_gear_w{
    width: 75%;
}

.ms_gear_opacity{
    opacity: 50%;
}

.ms_gear_opacity:hover{
    opacity: 100%;
}
/*Fine Gear*/

/*Inizio PS Plus*/
.ms_play_plus{
    height: 300px;
}

.ms_bkg_gray{
    background-color: rgb(190, 188, 197);
}
/*Fine PS Plus*/

/*Inizio Games*/
.ms_games{
    height: 100%;
    width: 100%;
}

.ms_bkg_blk{
    background-color:rgb(31, 31, 31);
}
/*Fine Games*/

/*Inizio Playstation now*/
.ms_bkg_blu{
    background-color: rgb(22, 28, 59);
}
/*Inizio Playstation now*/

/*Inizio Footer*/
footer{
    min-height: 500px;
}

.ms_bkg_ftr{
    background-color: rgb(0, 67, 156);
}

.ms_globe{
    width: 20px;
    height: 20px;
}
/*Fine Footer*/